<!DOCTYPE html>
<html>
    <head>
        <title>
            Query Page
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            img{
                border: 1px solid #000000;
            }
        </style>
    </head>
    <body>
        <div class="jumbotron bg-danger text-white">
            <h1 class="text-center">Stock Ticker Query #{{ btn }} Results</h1>
        </div>
        <div class="container">
            <h1 class="text-center">
                {{ name }}
                <br/>
                <img width="480" height="360" src="../static/images/plot.png"/>
            </h1>
            <div class ="row">
                <form action="/">
                    <input type="submit" class="btn btn-success mb-2" value="Go Home">
                </form>
            </div>
        </div>
    </body>
</html>