<!DOCTYPE html>
<html>
    <head>
        <title>
            Query Page
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="jumbotron bg-danger text-white">
            <h1 class="text-center">Stock Ticker Query #{{ btn }} Results</h1>
        </div>
        <div class="container">
            {% if not result %}
            <p>
                No Data for Selected Parameters
            </p>
            {% else %}
            <h1 class="text-center">
                {{ name }}
            </h1>
            <table class="table table-border">
                <tr class="thead-light">
                    <th>Category</th>
                    <th>Price</th>
                </tr>
                <tr>
                    <td> {{ type }} </td>
                    <td> ${{ result }} </td>
                </tr>
            </table>
            {% endif %}
            <form action="/">
                <input type="submit" class="btn btn-success mb-2" value="Go Home">
            </form>
        </div>
    </body>
</html>