<!DOCTYPE html>
<html>
    <head>
        <title>
            Stock Ticker App
        </title>
    </head>
    <body>
        <form action="/query" method="POST">
            1. Find Min Stock Price - <input type="text" name = "price" value = "Price" onfocus="this.value=''"> by Location - <input type="text" name="location" value= "Location" onfocus="this.value=''"> on Date - <input type="date" name="date"> <input type="submit" name="submit1">
        </form>
        <form action="/query" method="POST">
            2. Find Min Stock Price - <input type="text" name = "price" value = "Price" onfocus="this.value=''"> by Location - <input type="text" name="location" value= "Location" onfocus="this.value=''"> on Date - <input type="date" name="date"> <input type="submit" name="submit2">
        </form>
    </body>
</html>