<!DOCTYPE html>
<html>
    <head>
        <title>
            Stock Ticker App
        </title>
    </head>
    <body>
        <form action="/query" method="POST">
            1. Find Min Stock Price - <input type="text" name = "price" value = "Price" onfocus="this.value=''"> by Location - <input type="text" name="location" value= "Location" onfocus="this.value=''"> on Date - <input type="date" name="date"> <input type="submit" name="submit1">
        </form>

        <form action="/query" method="POST">
            2. Find Min and Max Stock Price
            for Industry - 
            <select name="Industry">
                <option value="HealthCare">Health Care</option>
                <option value="Financials">Financials</option>
                <option value="InformationTechnology">Information Technology</option>
                <option value="RealEstate">Real Estate</option>
                <option value="ConsumerStaples">Consumer Staples</option>
                <option value="Energy">Energy</option>
                <option value="Materials">Materials</option>
                <option value="Industrials">Industrials</option>
                <option value="Utilities">Utilities</option>
                <option value="ConsumerDiscretionary">Consumer Discretionary</option>
                <option value="TelecommunicationsServices">Telecommunications Services</option>
              </select>
            <input type="submit" name="submit2">
        </form>

        <form action="/query" method="POST">
            3. Find Highest Stock Price on Date - <input type="date" name="date"> <input type="submit" name="submit3">
        </form>

        <form action="/query" method="POST">
            4. Financial Information - 
            <select name="Industry">
                <option value="capital_expenditure">Capital Expenditure</option>
                <option value="common_stock">Common Stock</option>
                <option value="current_ratio">Current Ratio</option>
                <option value="earnings_before_tax">Earnings Before Tax</option>
              </select>
            for Stock - <input type="stock" name = "stock" value = "stock" onfocus="this.value=''"> <input type="submit" name="submit4">
        </form>

        <form action="/query" method="POST">
            4. Candlestick chart for Stock -
            <input type="stock" name = "stock" value = "stock" onfocus="this.value=''"> <input type="submit" name="submit5">
        </form>
    </body>
</html>