<!DOCTYPE html>
<html>
    <head>
        <title>
            Query
        </title>
    </head>
    <body>
        {% if not result %}
        <p>
            No Data for Selected Parameters
        </p>
        {% else %}
        <table border = 1>
            {% for a, b, c in result%}
               <tr>
                  <th> {{ a }} </th>
                  <td> {{ b }} </td>
                  <td> {{ c }} </td>
               </tr>
            {% endfor %}
         </table>
         {% endif %}
    </body>
    <form action="/">
        <input type="submit" value="Go Home">
    </form>
</html>